python3-pyalsaaudio>=0.8.0  # Required for ALSA sound card detection in soundcard.py and soundcard_detector.py
cryptography
netifaces  # Required for network interface detection in sambaclient.py
hateeprom  # Required for HAT EEPROM reading in hattools.py

