[Unit]
Description=HiFiBerry Volume Restore Service
Documentation=man:config-volume(1)
After=pipewire.service wireplumber-system.service sound.target
Wants=pipewire.service wireplumber-system.service
Requires=sound.target

[Service]
Type=oneshot
User=root
Group=root
ExecStartPre=/bin/sleep 2
ExecStartPre=/usr/bin/config-soundcard --get-or-create-volume-control Softvol
ExecStart=/usr/bin/config-volume --restore
TimeoutStartSec=10
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
