#!/usr/bin/make -f
 
%:
	dh $@ --buildsystem=pybuild

override_dh_install:
	dh_install
	# Install config file as main configuration file
	install -D -m 644 configserver.json.default $(CURDIR)/debian/hifiberry-configurator/etc/configserver/configserver.json
